
<mat-toolbar style="background-color: rgb(151, 31, 75);">
  <mat-toolbar-row style="color: white;">
    
    <h1 style="margin-left: 7%">Do-Connect</h1>
    
    <span class="menu-spacer"></span>
    <div style="margin-left: 60%" *ngIf="isHome">
      <a mat-button *ngFor="let i of links" [routerLink]="'/' + i"> {{ i }} </a>
      <a mat-button [routerLink]="'/'"> Sign Out </a>
    </div>
    <div style="margin-left: 63%" *ngIf="!isHome">
      <a mat-button [routerLink]="'/'"> Home </a>
      <a mat-button [routerLink]="'/'"> Sign In </a>
      <a mat-button [routerLink]="'Register'"> Sign Up</a>
      <a mat-button [routerLink]="'Adminlogin'"> Admin</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

