<app-nav [isHome]="false"></app-nav>
<app-title subtitle1="Connect with us now!" title="Welcome To Do-Connect"></app-title>
<div
    style="
      max-width: 20%;
      max-height: 20%;
      margin-left: 75%;
      top: 27%;
      position: absolute;
    "
>
  <mat-card style="margin-right: 20%;">
    <mat-card-title style="margin-left: 30%">Sign Up</mat-card-title>
    <mat-card-content>
      <div style="display: flex; justify-content: center; align-items: center">
        <form>
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input
              type="text"
              name="name"
              matInput
              [(ngModel)]="name"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input
              type="email"
              name="email"
              matInput
              [(ngModel)]="email"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input
              type="password"
              name="password"
              matInput
              [(ngModel)]="password"
              required
            />
          </mat-form-field>
        </form>
      </div>
      <button
        mat-raised-button
        
        style="margin-left: 85px; margin-top:10px ;text-align: center;background-color: rgb(151, 31, 75);color:white; padding:4px;"
        (click)="register()"
      >
        Sign Up
      </button>
    </mat-card-content>
  </mat-card>
</div>
