<app-nav [isHome]="false"></app-nav>
<app-title
  title="Do-Connect"
  subtitle1="A place to share knowledge!"
  subtitle2="Our Team"
  team="Ajay, Chetanya,
  Hema mahendra, 
  Deepa,
  Ganesh,
  Soumyadeep.
  "

></app-title>
<div style="max-width: 20%; margin-left: 75%; top: 30%; position: absolute;">
  <app-login></app-login>
</div>
